<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 别名 -->
    <typeAliases>
        <!-- 方式一 -->
        <typeAlias alias="role" type="com.lean.ssm.chapter3.pojo.Role"/>

        <!-- 方式二 -->
        <package name="com.zouhhhhh.pojo"/>
    </typeAliases>

    <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>

            <!-- 属性 type＝”POOLED”代表采用 MyBatis 内部提供的连接池方式 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件 -->
<!--    <mappers>-->
<!--        <mapper resource="com/lean/ssm/character3/mapper/RoleMapper.xml"></mapper>-->
<!--    </mappers>-->

</configuration>
